
<div class="container">
  <div class="row">
      <div class="col*md-6">
        <mat-card-title>
            modifier un Partenaire
      </mat-card-title>
      <mat-card-content>
          <form #form="ngForm" (submit)="updatePart(form)" autocomplete="on" class="example-form">
              <table style="width: 500px">
                  <tr>
                      <td>
                          <mat-form-field class="demo-full-width">

                              <input matInput placeholder="raisonSocial" name="raisonSocial" #raisonSocial="ngModel" [(ngModel)]="updatePartData.raisonSocial" class="form-control" required>
                              <div class="validation-error text-danger" *ngIf="raisonSocial.invalid && raisonSocial.touched">je veux savoir votre raisonSocial.</div>
                      </mat-form-field>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <mat-form-field class="demo-full-width">

                              <input matInput placeholder="ninea" name="ninea" #ninea="ngModel" [(ngModel)]="updatePartData.ninea" class="form-control" required>
                              <div class="validation-error text-danger" *ngIf="ninea.invalid && ninea.touched">je veux savoir votre ninea aussi.</div>
                        </mat-form-field>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <mat-form-field class="demo-full-width">

                              <input matInput placeholder="adresse" name="adresse" #adresse="ngModel" [(ngModel)]="updatePartData.adresse" class="form-control" required>
                              <div class="validation-error text-danger" *ngIf="adresse.invalid && adresse.touched">je veux savoir votre adresse.</div>
                       </mat-form-field>
                      </td>
                  </tr>
                  <tr>
                          <td colspan="2">
                              <mat-form-field class="demo-full-width">
                                  <input matInput placeholder="fix" name="fix" #fix="ngModel" [(ngModel)]="updatePartData.fix" class="form-control" pattern="^\d{9}$" required>
                                  <div class="validation-error text-danger" *ngIf="fix.invalid && fix.touched">Renseigner numero  il doit etre 9 chiffres.</div>
                           </mat-form-field>
                          </td>
                      </tr>
                  <tr>
                      <td colspan="2" class="content-center">
                      </td>
                  </tr>

              </table>
              <button style="margin-left: 250px" [disabled]="form.invalid" class="btn btn-success">Enregistrer</button>
          </form>

      </mat-card-content>
      </div>
  </div>
</div>
